* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100svh;
}

html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #000;
  width: 100vw;
  height: 100svh;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
}

button,
input {
  outline: 0;
  border: none;
  background: none;
}

[hidden='true'] {
  display: none;
}

button,
textarea,
input,
select,
a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
