@import 'src/ui/styles/Core/Mixins';

.bim-viewer {
  position: relative;
  padding: 0px 10px;
  width: 100%;
  height: calc(100svh - 80px);
  display: flex;

  &__preview {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--primary-orange);
  }

  &__close-model {
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--primary-orange);
    z-index: 10;
    opacity: 0.3;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    svg {
      transform: rotate(45deg);
    }

    path {
      fill: black;
    }
  }

  #viewerBim {
    position: absolute;
    width: calc(100% - 415px);
    height: 100%;
    left: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--primary-orange);
    background: none;
  }

  &__dialog {
    position: absolute;
    right: 0;
    width: 395px;
    box-sizing: border-box;
    padding-right: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.dialog-accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  box-sizing: border-box;
  height: 50px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--primary-orange);

  &_active {
    background: var(--primary-orange);
    color: black;
  }

  &__header {
    width: 100%;
    font-weight: 600;
    user-select: none;
    font-size: 20px;
    line-height: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 16px;
    }
  }

  &_loader-bar {
    cursor: default;

    &:hover {
      background: none;
    }
  }

  .arrow {
    transition: all 0.15s ease-in-out;
    transform: rotate(-90deg);

    path {
      stroke: var(--primary-orange);
    }
  }

  .arrow_opened {
    transform: rotate(0deg);
  }

  &__amount {
    background: var(--primary-orange);
    border-radius: 16px;
    padding: 5px 8.5px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: black;
  }

  &__add-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    background: var(--primary-orange);
    border-radius: 4px;

    path {
      fill: black;
    }
  }

  &:hover {
    background: var(--primary-orange);
    color: black;

    .dialog-accordion__amount {
      background: black;
      color: var(--primary-orange);
    }

    .dialog-accordion__add-button {
      background: black;

      path {
        fill: var(--primary-orange);
      }
    }

    .arrow {
      path {
        stroke: black;
      }
    }
  }
}

.bim-model {
  min-height: 48px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  box-sizing: border-box;
  color: #d89400;
  padding: 8px;
  width: 100%;
  border-radius: 8px;

  &_active-menu {
    background: var(--primary-orange);
    color: black;
  }

  &_active {
    background: var(--primary-orange);
    color: black;
  }

  &__format {
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    color: black;
    margin-right: 16px;
    background: var(--primary-orange);
    padding: 4px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .format_active {
    background: black;
    color: var(--primary-orange);
  }

  &:hover {
    background: var(--primary-orange);
    color: black;
  }
}

.model-adding {
  &__text-loader {
    height: 24px;
    width: 150px;
    border-radius: 4px;
    animation: pulse 1s alternate infinite;
    background: var(--primary-orange);
  }

  &__button-loader {
    width: 30px;
    height: 30px;
    margin-left: 16px;
    border-radius: 4px;
    background: var(--primary-orange);
    animation: pulse 1s alternate infinite;
  }

  &__amount-loader {
    border-radius: 16px;
    background: var(--primary-orange);
    padding: 5px 8.5px;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    animation: pulse 1s alternate infinite;
  }
}

.bim-modal {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  justify-content: center;
  background: rgba(#000000, 0.8);

  &__area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__window {
    background: black;
    position: relative;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: 419px;
    min-height: 360px;
    box-sizing: border-box;
    z-index: 2;
    border: 1px solid var(--primary-orange);
    padding: 24px 24px 30px 24px;
  }

  &__header {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-orange);
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;

    rect {
      fill: var(--primary-orange);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__button {
    width: 100%;
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 24px;
  }

  &__cancel {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    color: var(--primary-orange);

    &:hover {
      opacity: 0.8;
    }
  }
}
